
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			{% if site.google_analytics %}
			<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
			<script>
			  window.dataLayer = window.dataLayer || [];
			  function gtag(){dataLayer.push(arguments);}
			  gtag('js', new Date());
			  gtag('config', '{{ site.google_analytics }}');
			</script>
			{% endif %}
			<meta charset="UTF-8">

			{% seo %}
			<!-- <link rel="preconnect" href="https://fonts.gstatic.com">
			<link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin> -->
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<meta name="theme-color" content="#157878">
			<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
			<meta name="description" content="Soumil Hooda">
			<meta name=”robots” content=”index, follow”>
			<!-- <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}"> -->
			<link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
			<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
			<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
			<link rel="manifest" href="/site.webmanifest">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/projects">Projects</a></li>
				<li><a href="/developments">Developments</a></li>
				<li><a href="/random">Random</a></li>
				<li><a href="/blog">Blog</a></li>
				<li><a href="mailto:soumilhooda@gmail.com">EMail</a></li>
			</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
<!-- 			<footer>
	    		<ul>
	        		<li><a href="mailto:hoodasoumil@gmail.com">EMail</a></li>
	        		<li><a href="https://github.com/soumilhooda">Github</a></li>
				<li><a href="https://sites.google.com/view/sdtcs/">SDtCS</a></li>
				</ul>
			</footer> -->
		</body>
	</html>
